# Data Types

In [1]:
print("hello World")#string

hello World

In [ ]:
# 1, 23, Int(interger)
# 1,23, 244(float)

In [2]:
variable1 = 100
print(variable1)

100

In [6]:
variable1 = 15
print(variable1)

15

In [3]:
indra = 10 #no need to specify the datatype in declaration
print(indra)

10

In [10]:
print(500)

500

In [11]:
print(variable1) #Python will always show us the updated value

15

In [12]:
variable2 = 100 #integer
variable3 = "Python" #string

In [13]:
print(variable1,variable2,variable3)

15 100 Python

In [14]:
print('This is variable 1 --->',variable1,"This is variable 2--->",variable2,"This is variable3 --->",variable3)

This is variable 1 ---> 15 This is variable 2---> 100 This is variable3 ---> Python

In [15]:
# Sum of two numbers 
50+60

110

In [16]:
# We can sum only the same datatype 
100 + "indra"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
a=10
b=20
print(a+b)
print(a*b)#multiply

30
200

# Accepting User Inputs

Input() : Accepts input and stores it as a string.If the user inputs an integer, the code should convert the inteher to string and then proceed.

In [21]:
num1= input("Enter a number \t")
print(num1)

Enter a number 	5
5

In [24]:
print(num1+10) #here num1 is by default of type string which cannot be added to an integer

TypeError: can only concatenate str (not "int") to str

In [29]:
num1 = int(num1)
print(num1 + 10)

15

In [31]:
a = int(input("Enter 1st number \t"))
b = int(input("Enter 2nd number\t")) 
sum = a + b
print("The sum of {0} and {1} is {2}" .format(a,b,sum)) #or simply : print(a,b,sum)

Enter 1st number 	20
Enter 2nd number	30
The sum of 20 and 30 is 50

# Literals

In [1]:
a = 10 #integer(without decimal points)
b = 10.56 #floating point numbers
c = 5+6j #complex numbers
d = "hello" #string
e = True #boolean
f = False #boolean
print(type(a),type(b),type(c),type(d),type(e),type(f)) #will give us the datatype of each of the variables

<class 'int'> <class 'float'> <class 'complex'> <class 'str'> <class 'bool'> <class 'bool'>

In [5]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [9]:
len(keyword.kwlist)

36

# Arithmetic Operators

In [12]:
2 + 4 #addition operator : only two operands of the same datatype can be added

6

In [14]:
4/2 #floating point division. returns a floating type value

2.0

In [16]:
100/3

33.333333333333336

In [18]:
4//2 #integer division : returns an integer value. Also known as Floor division

2

In [20]:
100//3

33

In [22]:
100%3 #Modulus operator: returns the remainder of the division

1

In [24]:
var = 100
var%3

1

In [26]:
-var #negation opeartor

-100

In [28]:
1001 // 3, 1001/3,2*5 #we can perform various operations on the same line

(333, 333.6666666666667, 10)

round() : it is used to roundoff a floating point number to the nearest decimal place

In [30]:
print(round(113.57676867))

114

In [32]:
print(round(113.5768767,3)) #upto 3 decimal places

113.577

In [35]:
c=15+2j
print(type(c))
print(abs(c))
#you can't use the round() function for a complex number

<class 'complex'>
15.132745950421556

divmod():returns the quotient and remainder of a division operation

In [38]:
divmod(9,2)

(4, 1)

In [40]:
print(divmod(9,2))

(4, 1)

pow() : is used to find the power

In [42]:
pow(2,3)

8

In [44]:
print(pow(2,3))

8

In [46]:
2**3

8

In [48]:
print(pow(3,3,5))

2


# Conditional Operators

In [52]:
50 !=2 # In Pyhton we can directly check if a condition is true or not. It will return a boolean value as result

True

In [54]:
4 == 2

False

In [57]:
4>2,5==2,5==5,5!=5,4<=8 # we can even check conditions together in a single line

(True, False, True, False, True)

Chained Conditional Operators

In [59]:
1<2<3

True

In [61]:
2<4<1

False

In [62]:
1<2 and 2<3 #and will only return true if both the values are true

True

In [64]:
1<2 and 3<2

False

In [65]:
1<2 or 3<2 #or will return true if any of the two values are true

True

In [67]:
# is : returns true if both the values are the same 
# is not : returns true if both the values are not the same
x=10
y=10
x is y

True

In [2]:
x=1
y=2
x is y

False

In [4]:
x is not y

True

# Basic Lists and List methods

In [6]:
a = [1,2,3,4]
print(a)

[1, 2, 3, 4]

In [8]:
a.append(["value1_a","value2_a",["value1","value2"]])
print(a)

[1, 2, 3, 4, ['value1_a', 'value2_a', ['value1', 'value2']]]

In [10]:
a[-1] #navigating the elements in a list

['value1_a', 'value2_a', ['value1', 'value2']]

In [12]:
a[-1][-1]

['value1', 'value2']

In [13]:
a[-1][2]

['value1', 'value2']

In [15]:
a[-1][2][1]

'value2'

In [28]:
a[-1][2][1] = 99 #replacing the element
print(a)

[1, 2, 3, 4, ['value1_a', 'value2_a', ['value1', 99]]]

In [21]:
# list[]
# Indexing []
# Tuple ()
# Sets {}
# Dictionary {}

Nesting of Lists

In [29]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
matrix = [l1,l2,l3] # lists inside a list
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [30]:
a.reverse()

In [31]:
a

[['value1_a', 'value2_a', ['value1', 99]], 4, 3, 2, 1]

In [33]:
a.sort()

TypeError: '<' not supported between instances of 'int' and 'list'

In [37]:
l4 = ['b','c','d','x','y','m']
l4

['b', 'c', 'd', 'x', 'y', 'm']

In [38]:
l4.sort(reverse=True)

In [39]:
l4

['y', 'x', 'm', 'd', 'c', 'b']

In [40]:
l4.sort(reverse=False)
l4

['b', 'c', 'd', 'm', 'x', 'y']

# Dictionaries

There is a huge Flexibility on the different data types which a dictionary can hold. Use "Keys" to navifate within dictionary elements.

In [41]:
my_dict = {'key1':123,'key2':[22,33,44],'key3':['val1','val2','val3']}

In [42]:
my_dict

{'key1': 123, 'key2': [22, 33, 44], 'key3': ['val1', 'val2', 'val3']}

In [43]:
my_dict['key1']

123

In [44]:
my_dict['key3'][0]

'val1'

In [45]:
my_dict['key1'] * 320

39360

In [46]:
#Changing values in a dictionary
my_dict['key1'] = my_dict['key1'] - 123

In [47]:
my_dict

{'key1': 0, 'key2': [22, 33, 44], 'key3': ['val1', 'val2', 'val3']}

In [50]:
my_dict['key3'][2].upper()

'VAL3'

In [55]:
d1 = {} #creating an empty dictionary

In [56]:
d1['key1'] = 'indra1' #adding keys along with their content in a dictionary

In [57]:
d1['key2'] = 'indra2'
d1['key3'] = [22,33,44]

In [58]:
d1

{'key1': 'indra1', 'key2': 'indra2', 'key3': [22, 33, 44]}

# Nested Dictionary

In [59]:
d2 = {'key1':{'nkey2':{'nkey3': 'value1'}}} #key inside a key, which is itself inside a key

In [61]:
d2['key1']

{'nkey2': {'nkey3': 'value1'}}

In [64]:
d2['key1']['nkey2']

{'nkey3': 'value1'}

In [66]:
d2['key1']['nkey2']['nkey3']

'value1'

# String Formatting

In [72]:
print("I am going to inject %s here" %'something')

I am going to inject something here

In [76]:
print("I am going to inject some %s and some %s here as well." %('content','fun'))

I am going to inject some content and some fun here as well.

In [77]:
x='content'
y='fun'
print("I am going to inject some %s and some %s here as well." %(y,x))

I am going to inject some fun and some content here as well.

In [78]:
print("I am going to get %s oranges" %'three')
print("I am going to get %r oranges" %'three') ## %r : basically converts it to an individual object

I am going to get three oranges
I am goinf to get 'three' oranges

In [79]:
print("I am going to get %s oranges" %3.75)
print("I am going to get %d oranges" %3.75) # %d: converts it to an integer

I am going to get 3.75 oranges
I am going to get 3 oranges

In [ ]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x%2 == 0) , my_list))